@import "bootstrap-sprockets";
@import "bootstrap";

.schedule-container table {
  border: 1px solid black;
  width: 1000px;
}

.schedule th,
.schedule td {
  border: 1px solid black;
}

.project-schedule {
  border: 1px solid black;
  width: 1000px;
}

.project-schedule th,
.project-schedule td {
  border: 1px solid black;
}

.project-users {
  display: flex;
}
.add-users {
  width: 50%;
}

.project-current-users {
  width: 50%;
  padding-left: 100px;
}

.no-padding {
  padding: 0 !important;
}

.left-padding {
  padding-left: 15px !important;
}

.logout {
  padding-left: 0;
}

.user-name {
  padding-top: 15px;
}

.nav.navbar-right  li {
  .btn {
    color: #fff !important;
    margin-top: 5%;
  }
  .btn-danger:hover {
    background-color: darken(#d9534f, 20%) !important;
  }
}